<h1>Favorites</h1>

<div class="container">
<div class="panel-heading">
</div>
    <div class="panel-body main">
    <ul>
    <% @favorites.each do |favorite| %>
    <%= div_for favorite, :class => "col-sm-3" do %>
      <p class="title"><%= favorite.combo.character %></p>


        <% if  favorite.combo.character == "Ryu" %>
    <%= image_tag 'ryu_avatar.png', :class => "style_image" %>
  <% elsif favorite.combo.character == "Ken" %>
    <%= image_tag 'http://i.imgur.com/mo7Bgq1.jpg', :class => "style_image" %>
  <% elsif favorite.combo.character == "Zangief" %>
    <%= image_tag 'http://i.imgur.com/Kt1VDwa.png', :class => "style_image" %>
  <% elsif favorite.combo.character == "M. Bison" %>
    <%= image_tag 'http://i.imgur.com/jRZ3BSx.png', :class => "style_image" %>
  <% elsif favorite.combo.character == "Chun-Li" %>
    <%= image_tag 'http://i.imgur.com/IxFrHbU.jpg', :class => "style_image" %>
  <% elsif favorite.combo.character == "Dhalsim" %>
    <%= image_tag 'http://i.imgur.com/n63vS1Z.png', :class => "style_image" %>
  <% elsif favorite.combo.character == "Vega" %>
    <%= image_tag 'http://i.imgur.com/rIkEq8b.jpg', :class => "style_image" %>
  <% end %>


      <p><%= favorite.combo.damage %></p>
      <p><%= favorite.combo.difficulty %></p>
      <p><%= favorite.combo.character %></p>
        <%#= image_tag(favorite.combo.image.url) %>
        <p><%= link_to "Click to View Combo", combo_path(favorite.combo) %></p>
        <hr>
        <div class="posted">
            Posted by <%= favorite.combo.user.name %>
        </div>
        <hr>
      <% end %>
    <% end %>
</ul>
</div>
</div>
