<h2>Edit Your Account Information</h2>


<div class="container show">
  <div class="col-lg-10">
    <div class="panel-body main">
      <ul>
      <div class="info">
        <ul>
        <div class="comment_form">
          <%= form_for @user do |form| %>


          <%= form.label :name %>
          <%= form.text_field :name %><br>

          <%= form.label :email %>
          <%= form.text_field :email %><br><br>

          <%= form.label :password %>
          <%= form.password_field :password %><br>

          <%= form.label :password_confirmation %>
          <%= form.password_field :password_confirmation %><br><br>

          <%= form.submit 'Confirm Changes' %>
          <% end %>
          </div>
          <br>
          <br>
        </ul>

      </div>
      </ul>
    </div>
  </div>
         <button type="button" class="btn black-background btn-md">
    <%= link_to "Go back to all Combos", combos_path %></button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
            <button type="button" class="btn btn-danger btn-md">
          <%= link_to "DELETE your account", current_user, method: :delete, data: { confirm: "Are you sure you want to delete your account?"} %>
          </button>
</div>


