<h2>Create A New Account</h2>

<div class="container show">
  <div class="col-lg-10">
    <div class="panel-body main">
      <ul>
      <div class="info">
        <ul>
        <div class="comment_form">
            <%= form_for @user do |f| %>
            <% if @user.errors.any? %>
            <div class="error_messages">
              <h2>Form is invalid</h2>
              <ul>
              <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
              <% end %>
              </ul>
            </div>
            <% end %>

            <div class="fieldass">
              <%= f.label :name %>
              <%= f.text_field :name %>
            </div>
            <div class="field">
              <%= f.label :email %>
              <%= f.text_field :email %>
            </div>
            <div class="field">
              <%= f.label :password %>
              <%= f.password_field :password %>
            </div>
            <div class="field">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation %>
            </div>
            <div class="actions">
            <%= f.submit %>
            </div>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


