<h2>Edit Your Combo</h2>

<div class="container show">
  <div class="col-lg-10">
    <div class="panel-body main">
      <ul>
      <div class="info comment_form">
          <%= form_for @combo, url: combo_path, html: { multipart: true } do |form| %>
          <%= form.label :character %>
          <%= form.select :character, options_for_select(list) %> <br>

          <%= form.label :difficulty %>
          <%= form.select :difficulty , ['Beginner', 'Intermediate', 'Advanced'] %><br>

          <%= form.label :damage %>
          <%= form.text_field :damage %><br><br>

          <%= form.label :command %>
          <%= form.text_area :command %><br><br>

          <%= form.file_field :image %><br><br>

          <%= form.submit 'Edit this combo' %>
          <% end %>
      </div>
      </ul>
    </div>
  </div>
  <button type="button" class="btn black-background btn-md">
    <%= link_to "Cancel edit and go back", @combo %>
  </button>
</div>
