<h1>Edit</h1>

<div class="container show">
  <div class="col-lg-10">
    <div class="panel panel-default">
      <div class="panel-heading">
      </div>
      <div class="panel-body single">
        <ul>

          <%= form_for @combo, url: combo_path, html: { multipart: true } do |form| %>
          <%= form.label :character %>
          <%= form.select :character , ['Ken', 'Ryu', 'Zangief', 'M. Bison', 'Chun-Li', 'Dhalsim', 'Vega'] %> <br>

          <%= form.label :difficulty %>
          <%= form.select :difficulty , ['Beginner', 'Intermediate', 'Advanced'] %><br>

          <%= form.label :damage %>
          <%= form.text_field :damage %><br>

          <%= form.label :command %>
          <%= form.text_field :command %><br>

          <%= form.file_field :image %><br><br>

          <%= form.submit 'Edit this combo' %>
          <% end %>
        </ul>
      </div>
    </div>
    <button><%= link_to "Go back to all Combos", combos_path %></button>
  </div>
</div>
