<h1>Combos</h1>

<div class="container">
  <div class="panel-heading sorted">
    <%= link_to "Sort by Damage", :sort => 'Damage' %>|
    <%= link_to "Sort by Difficulty", :sort => 'Difficulty' %>
  </div>

  <div class="panel-body main">
    <ul>
      <% @combos.reverse_each do |combo| %>
        <%= div_for combo, :class => "col-sm-3" do %>
        <p class="title"><%= combo.character %></p>
        <% if  combo.character == "Ryu" %>
          <%= image_tag 'ryu_avatar.png', :class => "style_image" %>
        <% elsif combo.character == "Ken" %>
          <%= image_tag 'ken_avatar.jpg', :class => "style_image" %>
        <% elsif combo.character == "Zangief" %>
          <%= image_tag 'zangief_avatar.png', :class => "style_image" %>
        <% elsif combo.character == "M. Bison" %>
          <%= image_tag 'mbison_avatar.png', :class => "style_image" %>
        <% elsif combo.character == "Chun-Li" %>
          <%= image_tag 'chunli_avatar.jpg', :class => "style_image" %>
        <% elsif combo.character == "Dhalsim" %>
          <%= image_tag 'dhalsim_avatar.png', :class => "style_image" %>
        <% elsif combo.character == "Vega" %>
          <%= image_tag 'vega_avatar.jpg', :class => "style_image" %>
        <% end %>
        <p>Damage: <%= combo.damage %></p>
        <p>Difficulty: <%= combo.difficulty %></p>
        <br>
        <p>Command: </p>
        <p><%= combo.command %></p>
        <button type="button" class="btn btn-info btn-md">
          <p><%= link_to "Click to View Combo", combo_path(combo) %></p>
        </button>
        <hr>
        <div class="posted">
          Posted by <%= combo.user.name %>
        </div>

        <hr>
        <% end %>
      <% end %>
    </ul>
  </div>

  <button type="button" class="btn btn-primary btn-lg">
    <%= link_to "Create Combo", new_combo_path%>
  </button>

</div>




