
<div class="container">
  <div class="panel-heading sorted">
    <button type="button" class="btn black-background btn-lg">
    <%= link_to "Post a New Combo", new_combo_path%>
    </button>
    <div class="dropdown">
      <a class="dropdown-toggle filter" data-toggle="dropdown">
      <div class="filter">SORT
      <span class="caret"></span></a>
      <ul class="dropdown-menu dropdown-menu-center">
        <li><%= link_to "DAMAGE low to high", :sort => 'Damage' %></li>
        <li><%= link_to "DAMAGE high to low", :sort => 'Damage DESC' %></li>
        <%#= link_to "Sort by Difficulty", :sort => 'Difficulty' %>
      </ul>
      </div>
    </div>
  </div>

  <div class="panel-body main">
    <ul>
      <% @combos.order("created_at desc").each do |combo| %>
        <%= div_for combo, :class => "col-md-3" do %>

        <p class="title"><%= combo.character %></p>
            <%= character_img(combo) %>

        <p>Damage: <%= combo.damage %></p>
        <p>Difficulty: <%= combo.difficulty %></p>
        <br>
        <p>Command: </p>
        <p><%= combo.command %></p>
        <button type="button" class="btn black-background btn-sm">
          <p><%= link_to "Click to View Combo", combo_path(combo) %></p>
        </button>
        <hr>
        <div class="posted">
          Posted by <%= combo.user.name %><br>
          on <%= combo.created_at.localtime.strftime("%m/%d/%Y" " at %I:%M%p") %>
        </div>
        <hr>
        <% end %>
      <% end %>
    </ul>
  </div>



</div>
</div>



