
<div class="container">
  <div class="panel-heading sorted">
    <div class="new_button">
      <button type="button" class="btn black-background btn-lg">
        <%= link_to "Post a New Combo", new_combo_path%>
      </button>
    </div>
    <div class="dropdown">
    <button class="btn dropdown-toggle filter" type="button" id="dropdownMenuButton" data-toggle="dropdown">
      SORT
    </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><%= link_to "DAMAGE ⇧", :sort => 'Damage' %></li>
        <li><%= link_to "DAMAGE ⇩", :sort => 'Damage DESC' %></li>
      </div>
    </div>
  </div>

  <div class="panel-body main">
    <% @combos.order("created_at desc").each do |combo| %>
    <div class="col-md-6 col-sm-3 ">
      <p class="title"><%= combo.character %></p>
      <%= character_img(combo) %>
      <p>Damage: <%= combo.damage %></p>
      <p>Difficulty: <%= combo.difficulty %></p>
      <p>Command: </p>
      <p><%= combo.command %></p>
      <button type="button" class="btn black-background btn-sm">
        <p><%= link_to "Click to View Combo", combo_path(combo) %></p>
      </button>
      <hr>
      <div class="posted">
        Posted by <%= combo.user.name %><br>
        on <%= combo.created_at.localtime.strftime("%m/%d/%Y" " at %I:%M%p") %>
      </div>
      <hr>
      <div class="col-xs-12">
      </div>
    </div>
    <% end %>
  </div>
</div>


