<h2>Create A New Combo To Share</h2>

<div class="container show">
  <div class="col-lg-10">
    <div class="panel-body main">
      <ul>
      <div class="info comment_form">
          <%= form_for @combo, url: combos_path, html: { multipart: true } do |form| %>
          <%= form.label :character %>
          <%= form.select :character, options_for_select(list) %> <br>

          <%= form.label :difficulty %>
          <%= form.select :difficulty , ['Beginner', 'Intermediate', 'Advanced'] %><br>

          <%= form.label :damage %>
          <%= form.text_field :damage %><br><br>

          <%= form.label :command %>
          <%= form.text_area :command %><br><br>

          <%= form.file_field :image %><br><br>

          <%= form.submit 'Create Post!' %>
          <% end %>
        </div>
        </ul>
      </div>
    </div>
    <button><%= link_to "Go back to all Combos", combos_path %></button>
  </div>



