<h2>New Combo</h2>


<div class="container show">
<div class="col-lg-10">
<div class="panel panel-default">
<div class="panel-heading">
</div>
    <div class="panel-body single">
<ul>

<%= form_for @combo, url: combos_path, html: { multipart: true } do |form| %>
  <%= form.label :character %>
  <%#= form.select :character , ['Ken', 'Ryu', 'Zangief', 'M. Bison', 'Chun-Li', 'Dhalsim', 'Vega'] %> <br>
  <%#= select_tag "character", options_for_select(@options) %><br>
  <%#= select_tag :character, (options_for_select(Combo.all.collect { |s| s.character })) %>
  <%#= form.select(:character, Comment.all.collect {|a| [a.content, a.content]}) -%>
  <%= form.select(:character, Combo.all.collect {|a| [a.character, a.character]}) -%>



  <%= form.label :difficulty %>
  <%= form.select :difficulty , ['Beginner', 'Intermediate', 'Advanced'] %><br>

  <%= form.label :damage %>
  <%= form.text_field :damage %><br>

  <%= form.label :command %>
  <%= form.text_field :command %><br>

  <%= form.file_field :image %><br><br>

  <%= form.submit 'Create Post!' %>
<% end %>

</ul>
</div>
</div>
<button><%= link_to "Go back to all Combos", combos_path %></button>
</div>
</div>



