<h1>SHOW</h1>

<div class="container show">
  <div class="col-lg-10">
    <div class="panel-body main">
      <ul>
      <div class="info">

    <%= character_img(@combo) %>

      <%# if  @combo.character == "Ryu" %>
        <%#= image_tag 'http://i.imgur.com/ycyvEaM.png', :class => "style_image" %>
      <%# elsif @combo.character == "Ken" %>
        <%#= image_tag 'http://i.imgur.com/mo7Bgq1.jpg', :class => "style_image" %>
      <%# elsif @combo.character == "Zangief" %>
        <%#= image_tag 'http://i.imgur.com/Kt1VDwa.png', :class => "style_image" %>
      <%# elsif @combo.character == "M. Bison" %>
        <%#= image_tag 'http://i.imgur.com/jRZ3BSx.png', :class => "style_image" %>
      <%# elsif @combo.character == "Chun-Li" %>
        <%#= image_tag 'http://i.imgur.com/IxFrHbU.jpg', :class => "style_image" %>
      <%# elsif @combo.character == "Dhalsim" %>
        <%#= image_tag 'http://i.imgur.com/n63vS1Z.png', :class => "style_image" %>
      <%# elsif @combo.character == "Vega" %>
        <%#= image_tag 'http://i.imgur.com/rIkEq8b.jpg', :class => "style_image" %>
      <%# end %>


      <p><%= @combo.character %></p>
      <p>Damage:   <%= @combo.damage %></p>
      <p>Difficulty:   <%= @combo.difficulty %></p>
      <br>
      <p>Command:</p>
      <p><%= @combo.command %></p>
    </div>
    <div class="gif">
      <% if @combo.image.file? %>
        <%= image_tag(@combo.image.url, :class => "style_gif") %>
      <% else %>
        &nbsp;
      <% end %>
    </div>
      <%#= image_tag(@combo.image.url, :class => "style_gif") %>
      </ul>

      <div class="posted">
        Posted by <%= @combo.user.name %>
      </div>

      <% if current_user == @combo.user %>
        <p><%= link_to "Edit this Combo", edit_combo_path(@combo) %></p>
        <br>
        <%= link_to "DELETE this Combo!", combo_path, method: :delete, data: { confirm: "Are you sure you want to delete this Combo?"} %>
      <% end %>
      <br>
      <p><%= link_to "Go back to all Combos", combos_path %></p>

      <div class="card">
        <div class="card-block">
          <% @combo.comments.each do |e| %>
          <div class="card-text">
            <br>
            <%= e.content %>
          </div>
        <div class = "postedby">
          Posted by <%= e.user.name %>
        </div>
        <hr>
        <% if current_user == e.user %>
          <%= link_to "Edit comment", edit_comment_path(e) %>
          &nbsp; |&nbsp;
          <%= link_to 'Delete comment', e, method: :delete, data: {confirm: 'Are you sure????'} %>
          <% end %>
        <% end %>
        </div>
      </div>

      <div class="comment_form">
        <% if current_user %>
        <%= link_to "Add Comment", new_combo_comment_path(combo_id: @combo.id) %>
        <%= form_for [@combo, @comment] do |f| %>
        <%#= f.label 'new comment' %>
        <%= f.text_area :content, placeholder: "Type comment here..." %><br>
        <%= f.submit 'submit new comment' %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <% if current_user %>
    <button type="button" class="btn btn-info">
      <%= link_to "favorite",   favorite_combo_path(@combo, type: "favorite"), method: :put %>
    </button>
    <button type="button" class="btn btn-info">
      <%= link_to "unfavorite", favorite_combo_path(@combo, type: "unfavorite"), method: :put %>
    </button>
  <% end %>
</div>



